.artikel > div {
    text-align: center;
    border: solid gray;
    margin: 20px;
    border-radius: 5px;
}

.chart-entry {

    width: 40%;
    border: solid thick gray;
    margin: 20px;
    pading: 0px;
    border-radius: 5px;
    display: inline-block

}

.chart-entry {
    margin-left: 30%;
    margin-right: 30%;
}

.chart-entry > div {
    display: inline-block
}

.pricing {
    margin: 20px;
}

.description {
    text-align: center;
}

